<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script>var isLoggedIn = {{isLoggedIn}};</script>
    <script src="scripts.js"></script>
</head>
<body>
<div class="navbar navbar-inverse" style="background-color: #e3f2fd;">
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li ><a href="/">Home</a></li>
            <li class="active"><a id="newTifu" href="/newPost">Today I f* up</a></li>
            <li ><a id="authentificate" href="/auth">Authentificate</a></li>
            <li ><a id="logout" href="/out">Log out</a></li>
        </ul>
    </div>
</div>


<div class="container">
<p>You are logged: {{isLoggedIn}}</p>
    <div class="text-center">
        <h1>Haha, sorry to see you here</h1>
    </div>

    <form action="newPost" method="post" class="form-horizontal">
        <fieldset>
            <legend>Share how you f* up today:</legend>

            <div class="form-group">
                <label for="entry" class="col-md-4 control-label">Today, I f* up by doing:</label>
                <div class="col-md-6">
                    <textarea name="entry" id="entry" cols="30" rows="10" class="form-control"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="buttonSave" class="col-md-4 control-label">Share to others:</label>
                <div class="col-md-4">
                    <button class="btn btn-default" id="buttonSave" name="buttonSave" type="submit">Send</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
    <p style="text-align:center">Created by <a href="http://mihailproductions.com/">MihailProductions</a></p>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>